.large-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.images-display {
  display: flex;
  flex-direction: column;
}

.images-display img {
  width: 100%;
}

.vert-spacer {
  padding-top: 3rem;
}
